.lightapp {
  text-align: center;
  background-color: #7d838d;
  transition: background-color 1s
}

.lightapp-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(40, 39, 39);
  transition: color 1s
}

.lightapp-link {
  color: rgb(40, 39, 39);
}

.darkapp {
  text-align: center;
  background-color: #273e6e;
  transition: background-color 1s
}

.darkapp-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(178, 176, 176);
  transition: color 1s
}

.darkapp-link {
  color: #688a94;
}
